<% content_for :title, "Contact Us" %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "contact_us", media: "all" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_pack_tag "form_validations" %>
<% end %>

<% content_for :header_tag do %>
  <h2>Contact Us</h2>
<% end %>

<main>
  <section>
    <h2>Contact Us</h2>
    <%= image_tag 'dog_barking.jpeg', alt: 'dog barking' %>
  </section>
  <section>
    <form action="index.html" method="post" novalidate>
      <dl>
        <dt><label for="full_name">Full Name <span>*</span></label></dt>
        <dt class="hidden"><label class="error_message" for="full_name">Full Name is required <span>*</span></label></dt>
        <dd><input id="full_name" type="text" name="full_name" value="" required></dd>
        <dt><label for="email">Email Address <span>*</span></label></dt>
        <dt class="hidden"><label class="error_message" for="email">Properly formatted Email Address is required <span>*</span></label></dt>
        <dd><input id="email" type="email" name="email" value="" required></dd>
      </dl>
      <dl>
        <dt><label for="body">Comments/Questions <span>*</span></label></dt>
        <dt class="hidden"><label class="error_message" for="body">Comments/Questions is required<span>*</span></label></dt>
        <dd><textarea id="body" name="body" rows="10" cols="80" required></textarea></dd>
      </dl>
      <button type="submit" name="submit">Submit</button>
    </form>
  </section>
</main>
