<% if flash[:error].present? %>
  document.querySelector('.flash-messages').innerHTML =
    '<div class="error" data-dismissible="true">There was an error creating the' +
    ' position. <a href="#" data-dismiss="close">close</a></div>';

  document.querySelector('section.error').innerHTML = ("<%= j render(:partial =>
    'shared/errors', :locals => { :obj => @position, :action => 'created' }) %>");
<% else %>
  window.location.href = "<%= positions_path %>"
  document.querySelector('.flash-messages').innerHTML =
  '<div class="success" data-dismissible="true">The position has been ' +
  'successfully created. <a href="#" data-dismiss="close">close</a></div>';
<% end %>
