<header class='lg-nav'>
  <nav class="navbar secondary">
    <h1><%= link_to 'Lyons Vetinary Clinic', root_path %></h1>
    <ul>
      <li>
        <a href="#">303-823-6767</a></li>
      <li>
        <a href="#">Schedule an <br /> Appointment</a>
      </li>
      <li>
        <a href="#">Pay <br /> Online</a>
      </li>
    </ul>
  </nav>
  <nav class="navbar primary">
    <ul>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <%= link_to 'Services', services_path %>
      </li>
      <li>
        <a href="#">Online Pharmacy</a>
      </li>
      <li>
        <a href="#">Paw-Sources</a>
      </li>
      <li>
        <a href="#">UVH</a>
      </li>
      <li>
        <a href="#">Contact Us</a>
      </li>
    </ul>
  </nav>
  <%= yield :header_image %>
</header>
