<header>
  <nav class="navbar secondary">
    <h1><a href=#>Lyons Vetinary Clinic</a></h1>
    <ul>
      <li>
        <a href="#">303-823-6767</a></li>
      <li>
        <a href="#">Schedule an <br /> Appointment</a>
      </li>
      <li>
        <a href="#">Pay <br /> Online</a>
      </li>
    </ul>
  </nav>
  <nav class="navbar primary">
    <ul>
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Online Pharmacy</a>
      </li>
      <li>
        <a href="#">Paw-Sources</a>
      </li>
      <li>
        <a href="#">UVH</a>
      </li>
      <li>
        <a href="#">Contact Us</a>
      </li>
    </ul>
  </nav>
  <%= image_tag "store_front", class: "bg-image" %>
</header>
<hr />
