<header class="sm-nav">
  <nav>
    <a class="hamburger_menu" href="#"><%= image_tag "hamburger_menu" %></a>
    <a class="close hidden" href="#"><%= image_tag "close" %></a>
    <a href="#">Lyons Vetinary Clinic</a>
    <a href="#"><%= image_tag "light_logo" %></a>
    <ul>
      <li><a href="#">item</a></li>
      <li><a href="#">item</a></li>
      <li><a href="#">item</a></li>
      <li><a href="#">item</a></li>
    </ul>
  </nav>
</header>
