<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      img {
        display: block;
        width: 100%;
      }
      body {
        margin: 0 5%;
      }
    </style>
  </head>
  <body>
    <%= image_tag 'mocks/about_1' %>
    <%= image_tag 'mocks/about_2' %>
    <%= image_tag 'mocks/about_3' %>
  </body>
</html>
