<% content_for :title, 'Role' %>

<% content_for :active, 'roles' %>

<% content_for :javascripts do %>

<% end %>

<main class="mt-3 sm-w-90 m-center">
  <h3 class="secondary text-center mb-2"><%= format_name(@role.name) %> Role</h3>

</main>
